<a href="https://colab.research.google.com/github/Palmira-A/sales-predictions/blob/main/Practica_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importar el DataFrame

In [57]:
import pandas as pd

filename = "/content/drive/MyDrive/Coding Dojo/PTCienciaDeDatos/PandasParaManipulacioÃÅnDeDatos/titanic.csv"
dataframe = pd.read_csv(filename)
df = dataframe.copy()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [59]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [60]:
df[df.duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [61]:
for columns in df:
  if df[columns].isna().sum() != 0:
    print('Existen', df[columns].isna().sum(),"valores NAN en la columna", columns)

Existen 177 valores NAN en la columna Age
Existen 687 valores NAN en la columna Cabin
Existen 2 valores NAN en la columna Embarked

Vemos que las celdas vacias, estan en la columna Age (Edad), Cabin (Cabina) y Embarked(Puerto de embarque).
* He decidido llenar los dato de Age con el prommedio de edades en total
* Eliminar la columna Cabin, por la mayoria de falta de datos y la poca relacion para determinar su valor.
* La columna Embarked llenar los valores vacios con 0, dado que no hay forma de encontrar una forma de rescatar estos valores. No se eliminan porque de alguna forma se sabe que estos pasajeros existieron por el boleto comprado y no afecta resolver esta practica.

In [62]:
df["Age"].mean().round(2)

29.7

In [63]:
df["Age"].fillna(df["Age"].mean().round(), inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [64]:
df.drop(['Cabin'], axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [65]:
df['Embarked'].fillna("0", inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [66]:
df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [67]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [68]:
df["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

### 1. Muestra la cabecera de la trama de datos

In [69]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [70]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

### 2. ¬øCu√°l es el porcentaje de personas que sobrevivi√≥?
Tomaremos Survived (1) or died (0).
El .mean() nos dar√° el la suma de todos los valores dividido entre el total, si a eso lo multiplicamos por 100, nos dar√° el porcentaje de sobrevivientes.

In [71]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [72]:
print("El porcentaje de sobrevivientes fue de:",(df["Survived"].mean()*100).round(2),"%")

El porcentaje de sobrevivientes fue de: 38.38 %

### 3.¬øCu√°ntos de cada sexo sobrevivieron?

In [73]:
m=(df["Sex"]=="female").sum()
h=(df["Sex"]=="male").sum()
print("Sobrevivieron",m,"mujeres y",h,"hombres")

Sobrevivieron 314 mujeres y 577 hombres

### 4. ¬øCu√°l es el porcentaje de gente que sobrevivi√≥ que pag√≥ un pasaje de menos de 10?
Primero generaremos un nuevo dataframe solo con los sobrevivientes. Sumamos los valores de la columna Fare cuando son menores de 10, multiplicamos por 100 y dividimos en el total

In [74]:
df_surv = df[df["Survived"] != 0]
df_surv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 1 to 889
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  342 non-null    int64
 1   Survived     342 non-null    int64
 2   Pclass       342 non-null    int64
 3   Name         342 non-null    object
 4   Sex          342 non-null    object
 5   Age          342 non-null    float64
 6   SibSp        342 non-null    int64
 7   Parch        342 non-null    int64
 8   Ticket       342 non-null    object
 9   Fare         342 non-null    float64
 10  Embarked     342 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 32.1+ KB

In [75]:
df_surv.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C

In [76]:
menor10 = 100*((df_surv["Fare"]<10).sum())/(df_surv["Survived"].sum())
print("El porcentaje de pasajeros que sobrevivio y pago un pasaje menor a 10 fue de:",menor10.round(2),"%")

El porcentaje de pasajeros que sobrevivio y pago un pasaje menor a 10 fue de: 19.59 %

### 5. ¬øCu√°l es la edad promedio de quienes no sobrevivieron?

In [77]:
df_no_surv = df[df["Survived"] == 0]
df_no_surv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  549 non-null    int64
 1   Survived     549 non-null    int64
 2   Pclass       549 non-null    int64
 3   Name         549 non-null    object
 4   Sex          549 non-null    object
 5   Age          549 non-null    float64
 6   SibSp        549 non-null    int64
 7   Parch        549 non-null    int64
 8   Ticket       549 non-null    object
 9   Fare         549 non-null    float64
 10  Embarked     549 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 51.5+ KB

In [82]:
df_5 = df_no_surv.groupby(['Survived'])[['Age']].mean()
df_5

                Age
Survived
0         30.483607

In [78]:
edad_prom = (df_no_surv["Age"]).mean()
print("La edad promedio de los que NO sobrevivieron fue de:",edad_prom.round(2),"a√±os")

La edad promedio de los que NO sobrevivieron fue de: 30.48 a√±os

### 6. ¬øCu√°l es la edad promedio de quienes sobrevivieron?

In [81]:
df_6 = df_surv.groupby(['Survived'])[['Age']].mean()
df_6

                Age
Survived
1         28.595526

In [46]:
edad_prom2 = (df_surv["Age"]).mean()
print("La edad promedio de los que SI sobrevivieron fue de:",edad_prom2.round(2),"a√±os")

La edad promedio de los que SI sobrevivieron fue de: 28.6 a√±os

### 7. ¬øCu√°l es la edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo?

In [50]:
df_7 = df.groupby(['Survived','Sex'])[['Age']].mean()
df_7

                       Age
Survived Sex
0        female  26.086420
         male    31.244658
1        female  29.025751
         male    27.675872

In [49]:
surv_f = df[(df["Survived"] == 1) & (df["Sex"]=="female")]
surv_m = df[(df["Survived"] == 1) & (df["Sex"]=="male")]
no_surv_f = df[(df["Survived"] != 1) & (df["Sex"]=="female")]
no_surv_m = df[(df["Survived"] != 1) & (df["Sex"]=="male")]
print("La edad promedio de las mujeres que sobrevivieron es de:", surv_f["Age"].mean().round(2),"a√±os")
print("La edad promedio de los hombres que sobrevivieron es de:", surv_m["Age"].mean().round(2),"a√±os")
print("La edad promedio de las mujeres que no sobrevivieron es de:", no_surv_f["Age"].mean().round(2),"a√±os")
print("La edad promedio de las hombres que no sobrevivieron es de:", no_surv_m["Age"].mean().round(2),"a√±os")

La edad promedio de las mujeres que sobrevivieron es de: 29.03 a√±os
La edad promedio de los hombres que sobrevivieron es de: 27.68 a√±os
La edad promedio de las mujeres que no sobrevivieron es de: 26.09 a√±os
La edad promedio de las hombres que no sobrevivieron es de: 31.24 a√±os